.second_2 {
    width: 100px;
    height: 100px;
}
html {
    background-color:antiquewhite;
}
.Prvni {
    color:red;
}
.Druhy {
    color:gray;
}
.Treti {
    color:brown;
}
.Ctvrty {
    color:blue;
}